body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}

header {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#navBar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #000;
}

.button {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s;
    border: 1px solid transparent; /* Add border to maintain layout consistency */
}

.button:hover {
    background-color: #e8e8e8;
    color: #333;
    border-color: #ddd;
}


#image_logo_Bruno_Bertrand img {
    transition: transform 0.3s ease-in-out;
}

#image_logo_Bruno_Bertrand img:hover {
    transform: scale(1.1);
}

#information_De_Bruno_bertrand{

    display: grid; 
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: #000;
    padding:0% 20%;
    margin: auto;
}
header p{
    margin: 0;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#image_logo_Bruno_Bertrand {
    display: flex;
    align-items: center;
    font-size: x-large;
}

#image_logo_Bruno_Bertrand .button {
    margin-right: 3px; /* Ajoute de l'espace à droite de chaque élément Button */
}

#image_logo_Bruno_Bertrand .button:last-child {
    margin-right: 0; /* Supprime l'espace à droite du dernier élément Button */
}









